.App-header {
    background-color: #ccd0d6;
  }

  .selectedSidebarItem {
    background-color: #0d6efd;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }
  .sidebar {
    background-image: linear-gradient(#808b96, #aeb6bf);
    padding: 5px;
    border-radius: 0 0 5px 0;
    min-height: 95vh;
  }
  .sidebarItem {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }
  .sidebar h1 {
    color: white;
    padding: 20px 16px;
    background-color: black;
    border-radius: 5px;
    text-align: center;
  }

